<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var bestUrls = [];
    var bestTitles = [];
    var blogUrls = [];
    var blogTitles = [];
</script>

{% assign sortedPosts = site.posts | sort: 'title' %}
{% for post in sortedPosts %}
{% if post.categories contains 'Bestiario' %}
<script>
    bestUrls.push("{{ post.url }}");
    bestTitles.push("{{ post.title }}");
</script>
{% endif %}
{% if post.categories contains 'Blog' %}
<script>
  blogUrls.push("{{ post.url }}");
  blogTitles.push("{{ post.title }}");
</script>
{% endif %}
{% endfor %}

<script>
    var randBestNum = Math.floor(Math.random() * bestUrls.length);
    var randBestUrl = bestUrls[randBestNum];

    var randBlogNum = Math.floor(Math.random() * blogUrls.length);
    var randBlogUrl = bestUrls[randBlogNum];

    var randPosts = document.createElement("div");
    randPosts.innerHTML = "<em>Bestiario del dia:</em> <a href=" + randBestUrl + " >"+bestTitles[randBestNum]+"</a> ||";
    randPosts.innerHTML += " <em>Blog del dia:</em> <a href=" + randBlogUrl + " >" + blogTitles[randBestNum] +"</a >";
    document.querySelector(".bestiarioOfDay").appendChild(randPosts);


</script>